[bucket "master.tryserver.chromium.android"]
	builder = android_optional_gpu_tests_rel
[bucket "master.tryserver.chromium.angle"]
	builder = android_angle_rel_ng
	builder = android_angle_deqp_rel_ng
	builder = linux_angle_rel_ng
	builder = linux_angle_compile_dbg_ng
	builder = linux_angle_ozone_rel_ng
	builder = linux_angle_deqp_rel_ng
	builder = mac_angle_rel_ng
	builder = mac_angle_compile_dbg_ng
	builder = win_angle_rel_ng
	builder = win_angle_compile_dbg_ng
	builder = win_angle_x64_rel_ng
	builder = win_angle_compile_x64_rel_ng
	builder = win_angle_compile_x64_dbg_ng
	builder = win_angle_deqp_rel_ng
	builder = win_angle_x64_deqp_rel_ng
[bucket "master.tryserver.chromium.linux"]
	builder = linux_chromium_chromeos_ozone_rel_ng
	builder = linux_optional_gpu_tests_rel
[bucket "master.tryserver.chromium.mac"]
	builder = mac_optional_gpu_tests_rel
[bucket "master.tryserver.chromium.win"]
	builder = win-msvc-rel
	builder = win_clang
	builder = win_optional_gpu_tests_rel
