[bucket "luci.angle.try"]
	builder = linux-clang-dbg
	builder = linux-clang-rel
	builder = linux-gcc-dbg
	builder = linux-gcc-rel
	builder = mac-dbg
	builder = mac-rel
	builder = win-clang-x64-dbg
	builder = win-clang-x64-rel
	builder = win-clang-x86-dbg
	builder = win-clang-x86-rel
	builder = win-msvc-x86-dbg
	builder = win-msvc-x86-rel
[bucket "luci.chromium.try"]
	builder = android_angle_deqp_rel_ng
	builder = android_angle_rel_ng
	builder = android_optional_gpu_tests_rel
	builder = fuchsia_x64
	builder = linux_angle_dbg_ng
	builder = linux_angle_deqp_rel_ng
	builder = linux_angle_ozone_rel_ng
	builder = linux_angle_rel_ng
	builder = linux_chromium_asan_rel_ng
	builder = linux_chromium_chromeos_ozone_rel_ng
	builder = linux_optional_gpu_tests_rel
	builder = mac_angle_dbg_ng
	builder = mac_angle_rel_ng
	builder = mac_optional_gpu_tests_rel
	builder = win_angle_deqp_rel_ng
	builder = win_angle_rel_ng
	builder = win_angle_x64_deqp_rel_ng
	builder = win_angle_x64_rel_ng
	builder = win_clang
	builder = win_optional_gpu_tests_rel
