[bucket "master.tryserver.chromium.angle"]
	builder = android_angle_rel_ng
	builder = android_angle_deqp_rel_ng
	builder = linux_angle_rel_ng
	builder = linux_angle_dbg_ng
	builder = linux_angle_ozone_rel_ng
	builder = linux_angle_deqp_rel_ng
	builder = mac_angle_rel_ng
	builder = mac_angle_dbg_ng
	builder = win_angle_rel_ng
	builder = win_angle_dbg_ng
	builder = win_angle_x64_rel_ng
	builder = win_angle_x64_dbg_ng
	builder = win_angle_deqp_rel_ng
	builder = win_angle_x64_deqp_rel_ng
[bucket "master.tryserver.chromium.linux"]
	builder = linux_chromium_chromeos_ozone_rel_ng
[bucket "master.tryserver.chromium.win"]
	builder = win_clang
