[access]
	inheritFrom = angle
# Remove redundant labels.
[label "Verified"]
  function = MaxWithBlock
  defaultValue = 0
[submit]
	action = cherry pick
[receive]
	requireChangeId = true
[label "Tryjob-Request"]
	function = NoOp
	value =  0
	value = +1 Approved for try server
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Commit-Queue
  label-Commit-Queue = +0..+2 group angle-committers
	submit = group chrome-commit-bot
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
[label "Commit-Queue"]
  function = NoBlock
  abbreviation = CQ
  value =  0 Not Ready
  value = +1 Dry Run
  value = +2 Commit
  # value = +3 Sheriff only: Ready, allow in throttled tree
  # This value is for eye-candy.
  # value = +4 Ignore this label
  defaultValue = 0
