[access]
	inheritFrom = angle
[access "refs/heads/master"]
	label-Tryjob-Request = +0..+1 group angle-committers
[submit]
	action = cherry pick
[receive]
	requireChangeId = true
[label "Tryjob-Request"]
	function = NoOp
	value = 0
	value = +1 Approved for try server
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
